        
$font:'Poppins', sans-serif;
$fonttitulos:'Butler', sans-serif;
$naranja:  #ff7f30;
$negro: #000000;
$blanco: #ffffff;
$gris: #706E6F;
$celeste: #1b8098;
$azul:#11438de5;

*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box; 
    font-family: $font;
    color: $gris;
    line-height: 1.6;
    background-color: $blanco;
}

a{
    text-decoration: none;
}
@import "mediadesktop";