        
$font:'Poppins', sans-serif;
$fonttitulos:'Butler', sans-serif;
$naranja:  #ff7f30;
$negro: #000000;
$blanco: #ffffff;
$gris: #706E6F;
$celeste: #1b8098;
$azul:#11438de5;

*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box; 
    font-family: $font;
    color: $gris;
    line-height: 1.6;
    background-color: $blanco;
}

a{
    text-decoration: none;
}
.navbar-dark .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 127, 48, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
.navbar-dark .navbar-toggler{
    color: $naranja;
    border-color: $celeste;
    border: 0.5px solid;
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 0.10rem;
}
@import "index";

@media only screen and (min-width: 600px){
    @import "mediatablet";
}
@media only screen and (min-width: 1024px){
    @import "mediadesktop";
}